.section-1 {
    background-image: url("https://images.unsplash.com/photo-1476703993599-0035a21b17a9?w=800&h=800&fit=crop&q=80");
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #F5EDE0;
    text-decoration: none;
}

.section-1-block-left {
    max-width: 600px;
}

.section-1-block-left p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.section-1-block-left p:nth-of-type(2) {
    color: var(--button-color);
}

.section-1-block-right {
    max-width: 600px;
    margin-left: auto;
}

.section-1-block-right h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: var(--button-color);
}

.section-1-block-right p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}

.section1-btn {
    background-color: var(--button-color);
    color: #fff;
    border-radius: 15px;
    padding: 11px 25px;
    font-size: 18px;
    transition: 0.3s;
}

.section1-btn:hover {
    background-color: var(--button-hover-color);
    color: #fff;
}

.section-1-block-left2 {
    max-width: 775px;
}

.section-1-block-left2 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.section-2 {
    background-color: var(--hintergrund-color);
    padding-top: 76px;
    padding-bottom: 150px;
}

.section2-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 70px;
}

.section-2-infos {
    display: flex;
    align-items: center;
}

.section-2-text h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 70px;
}

.section-2-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
}

.section-2-text p:nth-of-type(2) {
    margin-bottom: 70px;
}

.hero-images-wrapper {
    max-width: 550px;
    width: 100%;
    position: relative;
    margin-left: auto;
}

.img-big {
    width: 450px;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.img-small {
    width: 306px;
    height: auto;
    bottom: -74px;
    left: -92px;
    max-width: 100%;
    border-radius: 10px;
}